body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    color: #333;
}
.container {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 800px;
    padding: 40px;
}
h1 {
    color: #4CAF50;
    text-align: center;
    font-size: 2.5em;
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    margin: 10px 0;
    padding: 12px;
    border-radius: 8px;
    font-size: 1.2em;
    display: flex;
    justify-content: space-between;
}
li:nth-child(even) {
    background-color: #f1f1f1;
}
.amount {
    font-weight: bold;
    color: #007BFF;
}
